CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_EXAMPLE_BIT_SAMPLE=16
CONFIG_EXAMPLE_SPI_MOSI_GPIO=15
CONFIG_EXAMPLE_SPI_MISO_GPIO=14
CONFIG_EXAMPLE_SPI_SCLK_GPIO=13
CONFIG_EXAMPLE_SPI_CS_GPIO=12
CONFIG_EXAMPLE_SAMPLE_RATE=44100
CONFIG_EXAMPLE_I2S_CLK_GPIO=1
CONFIG_EXAMPLE_I2S_DATA_GPIO=2