menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "Keshav Wifi"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "obcd1234"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_WIFI_SOFTAP_SUPPORT
        string "Soft Access Point Support Defined"
        default "n"
        help
            Define Support for Soft Access Point for ESP32

    config EXAMPLE_BIT_SAMPLE
        int "Bit Sample"
        default 16
        help
            Define the sampling rate of the audio

    config EXAMPLE_SPI_MOSI_GPIO
        int "SPI MOSI Pin"
        default 15
        help
            Define the SPI MOSI GPIO Pin

    config EXAMPLE_SPI_MISO_GPIO
        int "SPI MISO Pin"
        default 14
        help
            Define the SPI MISO GPIO Pin

    config EXAMPLE_SPI_SCLK_GPIO
        int "SPI Clock Pin"
        default 13
        help
            Define the SPI Clock Pin

    config EXAMPLE_SPI_CS_GPIO
        int "SPI CS Pin"
        default 12
        help
            Define the CS Pin

    config EXAMPLE_SAMPLE_RATE
        int "Sampling Rate"
        default 44100
        help
            Define the Sampling Rate

    config EXAMPLE_I2S_CLK_GPIO
        int "I2S Clock GPIO Set"
        default 1
        help
            Define the Clock for I2S Recorder

    config EXAMPLE_I2S_DATA_GPIO
        int "I2S Data GPIO Set"
        default 2
        help
            Define the Data GPIO for I2S Recorder
            

    choice ESP_WIFI_SAE_MODE
        prompt "WPA3 SAE mode selection"
        default ESP_WPA3_SAE_PWE_BOTH
        help
            Select mode for SAE as Hunt and Peck, H2E or both.
        config ESP_WPA3_SAE_PWE_HUNT_AND_PECK
            bool "HUNT AND PECK"
        config ESP_WPA3_SAE_PWE_HASH_TO_ELEMENT
            bool "H2E"
        config ESP_WPA3_SAE_PWE_BOTH
            bool "BOTH"
    endchoice

    config ESP_WIFI_PW_ID
        string "PASSWORD IDENTIFIER"
        depends on  ESP_WPA3_SAE_PWE_HASH_TO_ELEMENT|| ESP_WPA3_SAE_PWE_BOTH
        default ""
        help
            password identifier for SAE H2E

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 20
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    choice ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "WiFi Scan auth mode threshold"
        default ESP_WIFI_AUTH_WPA2_PSK
        help
            The weakest authmode to accept in the scan mode.
            This value defaults to ESP_WIFI_AUTH_WPA2_PSK incase password is present and ESP_WIFI_AUTH_OPEN is used.
            Please select ESP_WIFI_AUTH_WEP/ESP_WIFI_AUTH_WPA_PSK incase AP is operating in WEP/WPA mode.

        config ESP_WIFI_AUTH_OPEN
            bool "OPEN"
        config ESP_WIFI_AUTH_WEP
            bool "WEP"
        config ESP_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config ESP_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config ESP_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config ESP_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config ESP_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
        config ESP_WIFI_AUTH_WAPI_PSK
            bool "WAPI PSK"
    endchoice

endmenu
